.u-more-btn{
    .w(100%);
    &:first-of-type{
        .mb(10px);
    }
}
.u-more-img{
    cursor: pointer;
}
.m-author-header{
    max-height:190px;
    padding:50px 0 20px 0;
    background: #e3e3e3;
    background: url('../../img/top.png') no-repeat;
    background-size: 100% 100%;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    box-sizing: border-box;
    .pr;
    .mb(20px);
    .flex;
    .flex(x, space-between);
    .m-box{
        .flex;
        //box-sizing: border-box;
        padding: 0 35px;
        .u-author-avatar{
            //.size(120px);
            //background-color: #fff;
            //border-radius: 100%;
        }
        .u-author-info{
            .mt(24px);
            .ml(20px);
            .u-tips{
                .mt(10px);
            }
            .u-name{
                .fz(26px);
                .bold(600);
                .u-uid{
                    .fz(14px);
                }
                color: #ffffff;
            }
            .u-level {
                .fz(14px,1.5);
                color: #fff;
                background-color: #aaa;
                padding: 1px 6px;
                border-radius: 2px;
                font-style: normal;
                .bold(600);
                &.lv-1 {
                    background-color: #32d3c4;
                }
                &.lv-2 {
                    background-color: #86c0fb;
                }
                &.lv-3 {
                    background-color: #33d9ff;
                }
                &.lv-4 {
                    background-color: #ffdb2a;
                }
                &.lv-5 {
                    background-color: #ffa739;
                }
                &.lv-6 {
                    background-color: #ff70b2;
                }
                &.lv-7 {
                    background-color: #ff3399;
                }
                &.lv-8 {
                    background-color: #f93c3c;
                }
            }

            .u-icon{
                .bold(600);
                padding: 1px 6px;
                .fz(14px,1.5);
                font-style: normal;
                border-radius: 2px;
                background-color: #ddd;
                color: #fff;
                &.vip {
                    background-color: #6f42c1;
                }
                &.superauthor {
                    background-color: #f8b718;
                }
            }
            .u-vip,.u-superauthor {
                margin-left: 4px;
                font-weight: normal;
            }
        }
        .u-info{
            .fz(14px);
            color: #fff;
            .mt(10px);
            .w(420px);
            .break(1);
            cursor: pointer;
        }
    }
    .m-focus{
        .flex;
        .pa;
        .rb(0,20px);
        .m-btn-box{
            .m-btn{
                color: #ffffff;
                .w(180px);
            }
            .u-btn-attention{
                border: 2px solid #ffffff;
                border-radius: 6px;
                background: #FF7CAB;
                &:hover{
                    -moz-box-shadow:0 0 14px rgba(255,124, 171, 0.4);
                    -webkit-box-shadow:0 0 14px rgba(255,124, 171, 0.4);
                    box-shadow:0 0 14px rgba(255,124, 171, 0.4);
                }
            }
            .u-already-attention{
                .flex;
                .flex(x, space-between);
                .u-btn{
                    .w(80px);
                    color: #ffffff;
                    background:rgba(0,0,0,0.3);
                    outline: none;
                    border: 2px solid rgba(255,255,255,0.6);
                    border-radius: 6px;
                }
                .u-btn-disabled{
                    color: #c0c4cc;
                }
            }
        }

        .u-more{
            .pr;
            .size(30px);
            .flex;
            .ml(10px);
            justify-content: center;
            span{
                .h(20px);
                .mt(5px);
            }
        }
    }
}
@media screen and (max-width: @notebook) {
    .m-author-header {
        background-size: cover;
        box-sizing: border-box;
        .w(95vw);
        .auto(x);
        .m-box{
            .h(auto);
            .mb(10px);
            .u-author-info{
                .mt(20px);
                .u-name{
                    .fz(18px);
                    .bold(600);
                    .u-uid{
                        .fz(12px);
                    }
                    color: #ffffff;
                }
            }
            .u-info{
                .w(220px);
            }
        }
        .m-focus{
            .h(auto);
            text-align: right;
            .u-btn{
                padding: 8px;
            }
            .u-btn-attention{
                .w(120px);
            }
            .u-already-attention{
                .w(100px);

            }
        }
    }
}
@media screen and (max-width: @phone) {
    .m-author-header{
        display: block;
        padding:10px 0;
        background-size: cover;
        box-sizing: border-box;
        .w(95vw);
        .auto(x);
        .m-box{
            .h(auto);
            .mb(10px);
            .u-author-avatar{
                //.size(100px);
                .mt(20px);
            }
            .u-author-info{
                .mt(30px);
                .u-uid{
                    display: block;
                }
            }
            .u-info{
                display: none;
            }
        }
        .m-focus{
            .ps;
            margin: 15px 10px 5px 10px;
            .h(auto);
            justify-content: center;
            .u-btn{
                top:0;
                padding: 8px;
            }
            .u-btn-attention{
                .w(100%);
            }
            .u-already-attention{
                .w(100%);

            }
            .u-more{
                //top:5px;
                display: none;
            }
        }
    }
}
@media screen and (max-width: @ip5) {
    .m-author-header{
        display: block;
        padding:10px 0;
        background-size: cover;
        box-sizing: border-box;
        .w(95vw);
        .auto(x);
        .m-box{
            align-content: center;
            .mb(10px);
            .u-author-avatar{
                //.size(60px);
                .mt(10px);
            }
            .u-author-info{
                .mt(10px);
                .u-name{
                    .fz(14px);
                }
                .u-tips{
                    .mt(0);
                }
                .u-level,.u-icon{
                    .fz(10px,1.5);
                }
            }
        }
        .m-focus{
            .ps;
            margin: 15px 10px 5px 10px;
            justify-content: center;
            .h(auto);
            .u-btn{
                padding: 6px;
            }
            .u-btn-attention,.u-already-attention{
                .w(100%);
            }
        }
    }
}
