.m-author-primary{
    box-sizing: border-box;
    .flex;
    .m-common-box{
        border: 1px solid rgba(63, 68, 72, 0.2);
        border-radius: 5px;
        background: #ffffff;
        padding: 10px 30px;
    }
    //铭牌
    .m-namespace{
        .u-title {
            color: #555;
            .fz(12px);
            display: block;
            background-color: #f5f7fa;
            margin-bottom: 6px;
            padding: 6px;
            border-radius: 3px;
            &:hover{
                color: #FF7CAB;
            }
        }

    }
    .m-left{
        //.w(67.5%);
        .w(730px);
        .u-content{
            padding: 20px;
        }
    }
    .m-right{
        .w(350px);
        .ml(20px);
        text-align: center;
        .m-join-box{
            .flex;
            .grid(x, space-between);
            padding:10px 20px;
        }
        .u-join,.u-fans {
            //.dbi;
            .fz(14px, 22px);
            //color: #666;
            .u-icon-join,.u-icon-fans {
                .dbi;
                .y(top);
                .mr(5px);
                .h(20px);
                .mt(2px);
                svg {
                    fill: #666;
                }
            }
        }
        .u-fans{
            .ml(20px);
        }
        .m-fans,.m-medals,.m-teams,.m-links, .m-user-bio{
            .mt(20px);
            padding:0 14px 20px 14px;
            text-align: left;

        }
        .m-user-bio{
            .u-userBio{
                .fz(14px);
            }
        }
    }
}
@media screen and (max-width: @notebook) {
    .m-author-primary{
        display: table; width: 100%;
        .m-left,.m-right{
            .w(95vw);
            //margin: 0;
            .auto(x);
        }
        .m-join-box{
            .mt(20px);
        }
    }
}
@media screen and (max-width: @phone) {
    .m-author-primary{
        display: table; width: 100%;
        .m-left,.m-right{
            .w(95vw);
            //margin: 0;
            .auto(x);
        }
        .m-join-box{
            .mt(20px);
        }

    }

}
