.m-author {
    .mt(@header-height + @bread-height);
    max-width: 1080px;
    .auto(x);
    padding: 20px 0;
}
.m-post-list {
    p,
    p a {
        word-break: break-all;
    }

    @origin: #0eb7ce;
    @std: #f0b400;
    .u-client {
        font-style: normal;
        .fz(12px);
        padding: 0px 5px;
        .r(3px);
        .mr(5px);
        border: 1px solid @std;
        color: @std;

        &.origin {
            border: 1px solid @origin;
            color: @origin;
        }
    }
}
.m-tabs {
    padding: 20px;
    .is-active {
        .bold;
    }
    .el-tabs__nav-wrap {
        padding: 0 20px;
    }
}
