@avatar : 180px;

.m-author-header{
    .clearfix;
    border-bottom: 1px solid #e1e4e8;
    margin-bottom: 20px;
    overflow: hidden;
    .clearfix;
    padding:20px;
    .r(4px);
}
.m-author-avatar {
    .pr;
    .u-avatar{
        .size(@avatar);
        .db;
        .r(4px);
        box-sizing: border-box;
        // background-color:#000;
    }
    .u-avatar-frame{
        .size(224px);
        img{.size(100%);}
        .pa;.lt(-22px);
    }
    .fl;
}

.m-author-info {
    .ml(@avatar + 30px);
    // border-bottom: 1px solid #e1e4e8;
    // padding-bottom: 10px;
    // margin-bottom: 10px;
    .u-name {
        font-size: 26px;
        color: #333;
        font-weight: 700;
        display: block;
        white-space: nowrap;
        word-wrap: normal;
        word-break: keep-all;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .u-uid {
        font-size: 14px;
        line-height: 2;
        color: #666;
        display: block;
    }
    .u-join {
        .db;
        .fz(12px, 20px);
        color: #666;

        .u-icon-join {
            .dbi;
            .y(top);
            .mr(5px);
            .h(20px);
            .mt(2px);
            svg {
                fill: #666;
            }
        }
    }
    .u-bio {
        .fz(13px, 2);
        // border-bottom: 1px solid #e1e4e8;
        padding-bottom: 10px;
        // margin-bottom: 10px;
    }
    .u-links {
        padding-top: 10px;
        border-top: 1px dashed #eee;
        a,span {
            .db;
            // margin-right:10px;
            .fz(12px, 20px);
            color:#555;
            
        }
        a{
            &:hover {
                color: #f39;
            }
        }
        svg,img{
            .size(16px);
            .mr(6px);
            .y(-3px);
        }
    }
    .u-medals{
        margin:5px 0;
    }
}

@media screen and (max-width:@phone){
    .m-author-header{
        border-radius:0;
    }
    .m-author-avatar{
        .u-avatar{
            .size(80px);
            .mr(20px);
        }
        .u-avatar-frame{
            .size(100px);
            .lt(-10px);
        }
    }
    .m-author-info{
        margin-left:0;

        .u-bio{
            border-top:1px solid @border-hr;
            padding-top:20px;
            .mt(20px);
        }
        .u-links{
            .el-col{
                .w(100%);
                a,span{
                    margin:5px 0;
                }
            }
        }
    }
}